<div class="toolbar" role="banner">
  <a class="title-span" href="/">NEURONE GM</a>
  <a class="a-1" *ngIf="home" href="/"><strong class="marked">{{"header.home" | translate}}</strong></a>
  <a class="a-1" *ngIf="!home" href="/">{{"header.home" | translate}}</a>
  <a class="a-1" *ngIf="design" href="/design"><strong class="marked">{{"header.gameDesign" | translate}}</strong></a>
  <a class="a-1" *ngIf="!design" href="/design">{{"header.gameDesign" | translate}}</a>
  <a class="a-1" *ngIf="players" href="/players"><strong class="marked">{{"header.players" | translate}}</strong></a>
  <a class="a-1" *ngIf="!players" href="/players">{{"header.players" | translate}}</a>
  <a class="a-1" *ngIf="management" href="/management"><strong class="marked">{{"header.appManagement" | translate}}</strong></a>
  <a class="a-1" *ngIf="!management" href="/management">{{"header.appManagement" | translate}}</a>
  <div class="spacer"></div>
  <span class="name-span" *ngIf="focusApp">{{focusApp.name}}</span>
  <button (click)="logout()" mat-button><mat-icon>login</mat-icon> {{"logout" | translate}}</button>
</div>
