.mat-form-field{
  display: inline-block;
  width: 90%;
}

.mat-dialog-content{
  width: 40vh;
}

.mat-icon{
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(+50%, +50%);
  color: #0c5460;
}

::ng-deep .mat-tooltip {
  font-size: 14px !important;
}

.form-group{
  display: block;
  margin-top:4%;
  margin-bottom:6%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: gray;
}