<app-header marked="management" [events]="eventsSubject.asObservable()"></app-header>
<mat-spinner class="load-spinner" diameter=50 strokeWidth=10 *ngIf="load"></mat-spinner>
<div class="main-content" [hidden]="load">
  <h1 class="h1-1"><b>{{"appManagement.activeApp" | translate}}:</b></h1>
  <h1 *ngIf="!change && focusApp" class="h1-1"><em>{{focusApp.name}}</em></h1>
  <button *ngIf="!change" class="button button-edit button-change" mat-raised-button (click)="changeFocus()">{{"change" | translate}}</button>
  <div *ngIf="change" class="select-app-container">
    <mat-form-field style="width: 100%; font-size: larger;" >
      <mat-select [(ngModel)]="newFocusApp" required>
        <mat-option *ngFor="let app of this.apps" [value]="app">{{app.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button *ngIf="change" mat-raised-button class="button button-add button-change-2" (click)="submitChange()">{{"confirm" | translate}}</button>
  <button *ngIf="change" mat-raised-button class="button button-delete button-change-2" (click)="cancelChange()">{{"cancel" | translate}}</button>
  <h1 class="h1-2"><b>{{"appManagement.manageApps" | translate}}</b></h1>
  <div class="column">
    <button mat-raised-button class="button button-add" (click)="openAddAppDialog()">{{"add" | translate}}</button>
    <mat-form-field style="width: 100%">
      <mat-label>{{"filter"|translate}}</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" style="width: 100%">
      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" style="cursor:pointer"></mat-row>
    </table>
    <mat-paginator class="mat-elevation-z1" [pageSizeOptions]="[5, 10]" showFirstLastButtons style="width: 100%;"></mat-paginator>
  </div>
  </div>
  <div *ngIf="selectedRow!=null" class="display-column">
    <button mat-raised-button class="button button-edit" (click)="openEditAppDialog()">{{"edit" | translate}}</button>
    <button mat-raised-button class="button button-delete" (click)="deleteApp()">{{"delete" | translate}}</button>
    <div class="mat-elevation-z5 points-column">
      <div class="attribute-name-container">
        <p class="attributes-name">{{"name" | translate}}: </p>
        <p class="attributes-name">{{"code" | translate}}: </p>
        <p class="attributes-name">{{"appManagement.owner" | translate}}: </p>
        <p class="attributes-name">{{"description" | translate}}: </p>
      </div>
      <div class="attribute-value-container">
        <p class="attributes-value">{{selectedRow.name}}</p>
        <p class="attributes-value">{{selectedRow.code}}</p>
        <p class="attributes-value">{{selectedRow.owner}}</p>
        <p class="attributes-value">{{selectedRow.description}}</p>
      </div>
    </div>
    <button mat-raised-button class="button-webhooks" [routerLink]="['/webhooks/'+selectedRow.code]">{{"appManagement.webhooks" | translate}}</button>
  </div>
</div>
